* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Inbox module 3 styles */
.h1-inbox {
    color: #24375D;
    font-size: 3em;
    margin-left: 2.4rem;
    font-weight: 700;
}


/* Responsiveness */
@media (max-width: 960px) {
    .h1-inbox {
        font-size: 2.5em;
        margin-left: 1.5rem;
    }
}


/* Chat column */
.container-inbox {
    display: flex;
    flex-direction: row;
    max-height: 100vh;
    background-color: #F7F2E7;
}

.column-inbox {
    flex: 0 0 33%; /* 33% width */
    background-color: #F7F2E7;
    max-height: 85vh;
    padding-top: 1.5em;    /* More padding at the inbox column for better view */
}

.selected-inbox {
    background-color: #F9E0AB;
}

.table-inbox {
    width: 100%;
    border-collapse: collapse;   /* Collapse borders into a single border */
}
  
.table-inbox td {
    border: 1px solid #ccc; /* Add a 1px solid border to each table cell */
    padding: 10px 0 0 0; /* Add some padding for better readability */
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    min-width: 8rem;
}

td {
    
}

td .name {
    font-weight: 700;
    font-size: large;
}

td .message {
    font-weight: 300;
    font-size: small;
    top: 50%;
    transform: translateY(-20%);
    line-height: 24px;
}

.timestamp {
    vertical-align: text-top;
    font-weight: 300;
    font-size: small;
    text-align: right;
}

.table-inbox td:first-child {
    width: 80%;
    padding-left: 10%;   /* Padding left of the name table column */
    border-right: 1px solid transparent; /* Add a border to separate the first and second columns in timestamp rows */
}

.table-inbox td:last-child {
    padding-right: 5%;   /* Padding left of the timestamp table column */
}

tr {
    line-height: 1.5em;
}

tr:hover {
    background-color: #F9E0AB;
    cursor: pointer;
}

.row-inbox {
    max-height: 75vh;
    overflow-y: auto;
}

/* Line that separates inbox and message col */
.line {
    min-height: 90vh;
    width: 1px;
    background-color: #818080; /* Line color */
}


/* Message column   */
.column-message {
    display: flex;
    flex: 1; /* Takes up remaining width */
    background-color: #F7F2E7; 
    text-align: left;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}


.default-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 0 10%;
    padding-top: 13rem;
}

.message-vector {
    margin-bottom: 20px;
}

.start-conversation {
    margin: 0; 
}


.message-vector {
    width: 75px;
    height: 75px;
}


.message-box {
    /* margin-left: 33.1%;
    margin-bottom: 7em; */
    min-width: 55%;
    text-align: left;
    position: relative;
    height: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #818080;
    box-sizing: border-box;
  }

.message-input {
    margin-left: 5%;
    min-width: 80%;
    resize: none;
    border-radius: 8px;
}

textarea {
    padding: 0.5em;
}

.send-vector {
    margin-top: 0.7em;
    margin-left: 0.5em;
    width: 2em;
    height: 2em;
    vertical-align: top;
    cursor: pointer;
    display: none;
}

#image-container {
    display: absolute;
    margin-left: 7%;
    margin-top: 25%;
    margin-bottom: 3em;
    width: 300px;
    height: 150px;
}