/* Menu toggler */
#menu-toggler,
#hamburger-button {
  display: none;
}

.main-content {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column; 
  margin-bottom: 20px;
}

.c-container {
  height: 25em;
  width: 25em;
  position: relative;
  margin-bottom: 20px; 
  border-radius: 50%;
  overflow: hidden;
  animation: spin 8s infinite linear;
}

.result-container {
  width: 100%; 
  text-align: center; 
}


@keyframes spin {
100% {
  transform: rotate(360deg);
}
}
.c-container:before {
position: absolute;
content: "";
height: 100%;
width: 100%;
border-radius: 50%;
backdrop-filter: blur(2.1em);
}
.c-container:after {
position: absolute;
content: "";
height: 50%;
width: 50%;
background-color: #ffffff;
top: 25%;
left: 25%;
border-radius: 50%;
}
.c-container div {
position: absolute;
border-radius: 50%;
z-index: -1;
animation: scale-up infinite;
}
@keyframes scale-up {
50% {
  transform: scale(1.8);
}
}
.c-container div:nth-child(1) {
height: 90%;
width: 100%;
background-color: #ff057c;
left: -5%;
top: -5%;
animation-duration: 2s;
animation-delay: 3s;
}
.c-container div:nth-child(2) {
height: 80%;
width: 70%;
background-color: #800f86;
top: 15%;
right: -15%;
animation-duration: 10s;
animation-delay: 7s;
}
.c-container div:nth-child(3) {
height: 65%;
width: 80%;
background-color: #1ba8e9;
bottom: -30%;
right: -20%;
animation-duration: 4s;
animation-delay: 2.2s;
}
.c-container div:nth-child(4) {
height: 50%;
width: 75%;
background-color: #34ff78;
bottom: -5%;
left: 8%;
animation-duration: 7s;
animation-delay: 6s;
}
.c-container div:nth-child(5) {
height: 45%;
width: 55%;
background-color: #f7fb1f;
top: 50%;
left: 0;
animation-duration: 2.5s;
animation-delay: 4s;
}
.c-container div:nth-child(6) {
height: 25%;
width: 55%;
background-color: #ffb326;
top: 45%;
left: -15%;
animation-duration: 9s;
} 


.Assesstitle,
.Careertitle {
  text-align: left; 
  font-weight: bold;
  padding-left: 40px;
}


.custom-paragraph {
margin-left: 40px;
margin-right: 40px;
padding: 30px;
background-color: #ffffff;
border-radius: 8px;
margin-bottom: 15px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
font-family: 'Poppins', sans-serif;
font-size: 16px;
line-height: 1.6;
}


