* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.homepage-header-and-section {
    background: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Header bar on top of each webpage */
.header-scrolled {
    background: #1F3051;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: #1F3051;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; /* is the depth of the element *into* the screen, lower z-index means it's on the lower layer */
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
    margin-right: 10px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    display: block;
}

header ul li i {
    padding-left: 7px;
}

header .navbar ul li a:hover,
header .navbar ul li a.active {
    background: #fff;
    color: #1F3051;
    border-radius: 20px;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #1F3051;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li ul li a {
    padding: 15px;
}

header .navbar ul li:hover > ul {
    display: initial;
}

/* Footer */
.footer {
    background: #1F3051;
    padding: 20px 80px;
    color: #fff;
    display: block;
    text-align: center;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

/* Menu toggler */
#menu-toggler,
#hamburger-button {
    display: none;
}

/* Responsiveness */
@media (width < 980px) {
    header {
        position: fixed;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    header .navbar ul li {
        width: 100%;
        padding: 0 0 15px 0;
    }

    header .navbar ul li a {
        padding: 10px 15px;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        width: 100%;
        padding: 0 0 0 30px;
        background: #1F3051;
    }

    .navbar .nav-links {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        display: block;
        background: #1F3051;
        width: 250px;
        padding-top: 30px;
        left: -100%;
        transition: all 0.4s ease;
    }

    #menu-toggler:checked ~ .nav-links {
        left: 0;
    }

    #hamburger-button {
        display: block;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }

    section .cards .card {
        width: calc(100% - 15px);
        margin: 10px;
    }
}


/* Inbox module 3 styles */
.inbox-body {
    background-color: #F7F2E7;
}

.h1-inbox {
    margin: 0.5em;
    color: #24375D;
    font-size: 3em;
}

@media (width > 980px) {
    .h1-inbox {
        margin-left: 1.5em;
    }
}

.h1-message {
    margin: 0.5em;
    color: #24375D;
    font-size: 3em;
}

.container-inbox {
    display: flex;
    flex-direction: row;
    margin-top: 4.5em;
    min-height: 80vh;
}

.column-inbox {
    flex: 0 0 33%; /* 33% width */
    background-color: #F7F2E7;
}
  
.column-message {
    display: flex;
    flex: 1; /* Takes up remaining width */
    background-color: #ccc; 
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.line {
    width: 1px;
    background-color: #000000; /* Line color */
}

.line-inbox {
    width: 1px;
    background-color: #000000; /* Line color */
}

.message-vector {
    width: 75px;
    height: 75px;
}

.start-conversation {
    margin-top: 1em;
}

.table-inbox {
    width: 100%;
    border-collapse: collapse; /* Collapse borders into a single border */
}
  
.table-inbox td {
    border: 1px solid #ccc; /* Add a 1px solid border to each table cell */
    padding: 8px; /* Add some padding for better readability */
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    min-width: 8em;
}

.name {
    font-weight: 500;
}

.message {
    font-weight: 300;
    font-size: small;
}

.timestamp {
    vertical-align: text-top;
    border-bottom: 1px solid #ccc;
    font-weight: 300;
    font-size: small;
}

td:first-child {
    padding-left: 10%;
    border-right: 1px solid transparent; /* Add a border to separate the first and second columns in timestamp rows */
}

tr {
    line-height: 2em;
}

.table-inbox td:first-child {
    width: 70%; /* Adjust the percentage as needed */
}

tr:hover {
    background-color: #F9E0AB;
    cursor: pointer;
}

.message {
    padding-top: 0.5em;
}

.message-input {
    display: flex;
    margin: 0.5em;
    min-width: 20em;
    text-align: left;
    resize: none;
    border-radius: 8px;
}

textarea {
    padding: 0.5em;
    width: 70%;
    
}

.send-vector {
    margin-top: 1em;
    width: 2em;
    height: 2em;
    vertical-align: top;
}