body {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    padding-top: 100px;
    background-color: #F7F2E7; 

}
.titlecontainer{
   
    height:fit-content;
    margin-left:  100px;
    margin-right:  100px;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 8px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


h1 {
    text-align: center;
    color: #333;
    
}

h2 {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.submit-btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;   
}

#submit-btn {
    background-color: #04AA6D; 
    border-radius: 20px; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
   
    font-size: 16px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #1F3051;
}


#results {
    margin-top: 20px;
    padding: 10px;
}

/* Base header, section, footer ================================================================================================= */
.header-scrolled {
    background: #1F3051;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: #1F3051;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; /* is the depth of the element *into* the screen, lower z-index means it's on the lower layer */
}

header .navbar ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

header .navbar ul li {
    position: relative;
    float: left;
    margin-right: 10px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    display: block;
}

header ul li i {
    padding-left: 7px;
}

header .navbar ul li a:hover,
header .navbar ul li a.active {
    background: #fff;
    color: #1F3051;
    border-radius: 20px;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #1F3051;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li ul li a {
    padding: 15px;
}

header .navbar ul li:hover > ul {
    display: initial;
}


/* Menu toggler */
#menu-toggler,
#hamburger-button {
    display: none;
}

.footer {
    background: #1F3051; 
    padding: 20px 0; 
    color: #fff;
    display: block;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    width: 100%; 
}


footer p {
    margin-bottom: 0;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

/* Question ================================================================================================= */
#questions-container {
    background: linear-gradient(to right, #F7F2E7,  #ffdf9b); 
    padding: 20px;
}
.question-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #f6866a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 126, 95, 0.5);
    margin-bottom: 20px;
    padding: 10px;
}


.question-container:hover {
    background-color: #f6866a;
    transition: background-color 0.3s ease;
}

.question-container input[type="checkbox"] {
    margin-right: 10px; 
}