body {
    background-color: #F7F2E7; 
    margin-top: 40;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    color: black;
    
    }


.job-cards { 
    width:800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    margin-top: 40px;
    background-color: #FFF;
    border-radius: 20px;
    width: calc(50% - 20px); /* Two cards per row with a gap of 20px */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {

    font-size: 24px;
    font-weight: bold;
}

.card-body p {
    margin: 5px 0;
}

.details-button {
    background-color: #1F3051;
    color: #FFF;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.job-details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.job-details {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.accepted-icon {
    color: green;
    margin-left: 5px;
}

.rejected-icon {
    color: red;
    margin-left: 5px;
}


/* Base header, section, footer ================================================================================================= */
.header-scrolled {
    background: #1F3051;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: #1F3051;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; /* is the depth of the element *into* the screen, lower z-index means it's on the lower layer */
}

header .navbar ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

header .navbar ul li {
    position: relative;
    float: left;
    margin-right: 10px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    display: block;
}

header ul li i {
    padding-left: 7px;
}

header .navbar ul li a:hover,
header .navbar ul li a.active {
    background: #fff;
    color: #1F3051;
    border-radius: 20px;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #1F3051;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li ul li a {
    padding: 15px;
}

header .navbar ul li:hover > ul {
    display: initial;
}


/* Menu toggler */
#menu-toggler,
#hamburger-button {
    display: none;
}

/* Footer ======================================================================================================== */
.footer {
    background: #1F3051;
    padding: 20px 80px;
    color: #fff;
    display: block;
    text-align: center;
    align-items: center;
    margin-top: 40px;
}

footer p {
    margin-bottom: 0;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.border iframe {
    display: block;
}