* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #F7F2E7;
}

body, h1, h2, h3, h4, h5, h6, p, .logo {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
}

/* Base header, section, footer ================================================================================================= */
.header-scrolled {
    background: #1F3051;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: #1F3051;
}

header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}

header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; /* is the depth of the element *into* the screen, lower z-index means it's on the lower layer */
}

header .navbar ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

header .navbar ul li {
    position: relative;
    float: left;
    margin-right: 10px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    display: block;
}

header ul li i {
    padding-left: 7px;
}

header .navbar ul li a:hover,
header .navbar ul li a.active {
    background: #fff;
    color: #1F3051;
    border-radius: 20px;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #1F3051;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li ul li a {
    padding: 15px;
}

header .navbar ul li:hover > ul {
    display: initial;
}

/* Menu toggler */
#menu-toggler,
#hamburger-button {
    display: none;
}

/* Layout ========================================================================================================*/
section {
    padding: 100px 80px 80px 80px;
}

.section-description-center {
    text-align: center;
}

.flex {
    display: flex;
    align-items: center;
}

/* Button ===================================================================================================== */
.big-button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    border: 2px solid #fff;
    background: #fff;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.big-button:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
}

.normal-button {
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    border: 2px solid #000;
    background: #fff;
    color: #000;
    font-size: 1em;
    z-index: 9;
    text-align: center;
    align-items: center;
    margin: 15px;
}

.normal-button:hover {
    color: #fff;
    background: rgb(40, 26, 57);
    border: 2px solid rgb(40, 26, 57);
}

.btn-primary {
    background-color: #1F3051;
    padding: 10px 15px;
}

.btn-primary:hover {
    background-color: rgba(31, 48, 81, 0.3);
    border: 1px solid #1F3051;
    color: #000;
}

/* Footer ======================================================================================================== */
.footer {
    background: #1F3051;
    padding: 20px 80px;
    color: #fff;
    display: block;
    text-align: center;
    align-items: center;
}

footer p {
    margin-bottom: 0;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

/* Input field ========================================================================================================= */
.input-field {
    padding: 10px 15px 10px 50px;
}

.input-icon {
    position: absolute;
    padding-left: 15px;
    color: #ccc;
    font-size: 1.2rem;
}


/* Banner ============================================================================================================ */
.banner h1 {
    margin-top: 20px;
}

.blue-text {
    color: #3575E2;
}

.banner-input {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Responsiveness ===================================================================================================== */
@media (width < 980px) {
    header {
        position: fixed;
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    header .navbar ul li {
        width: 100%;
        padding: 0 0 15px 0;
    }

    header .navbar ul li a {
        padding: 10px 15px;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        width: 100%;
        padding: 0 0 0 30px;
        background: #1F3051;
    }

    .navbar .nav-links {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        display: block;
        background: #1F3051;
        width: 250px;
        padding-top: 30px;
        left: -100%;
        transition: all 0.4s ease;
    }

    section {
        padding: 100px 20px 80px 20px;
    }

    #menu-toggler:checked ~ .nav-links {
        left: 0;
    }

    #hamburger-button {
        display: block;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }
}